<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157595455454-gth7mn2i3kthbpojhvbe7uc184963l1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157595455454-gth7mn2i3kthbpojhvbe7uc184963l1a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>157595455454-pjiq01tls3a8hjgg6g00m1fnhcieubk4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCCHJ_7LlalQPl_xFFo2-60oVQgyyV6fo</string>
	<key>GCM_SENDER_ID</key>
	<string>157595455454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cardpy.kuatia</string>
	<key>PROJECT_ID</key>
	<string>kuatia-86c03</string>
	<key>STORAGE_BUCKET</key>
	<string>kuatia-86c03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157595455454:ios:43be4394d4812c8464174f</string>
</dict>
</plist>